.weather-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #e5e5e5;
  background-color: #ebcda893;
  border-radius: 15px;
}

h1 {
  font: bold;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #cd7710;
  padding: 10px;
  font-size: 40px;
}

.date {
  font-size: 15px;
  color: rgb(99, 95, 95);
  font: bold;
  font-family: "Merriweather", serif;
}

li {
  list-style: none;
}

li:first-letter{
  text-transform: capitalize;
}

.pronostic {
  color: rgba(128, 119, 119, 0.877);
  font: bolder;
}

img {
  width: 100px;
}

.degrees {
  color: rgb(99, 95, 95);
  font-size: 70px;
}

.units {
  position: relative;
  font-size: 20px;
  top: -40px;
  font: bolder;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-forecast {
margin-top: 20px;
text-align: center;
color: rgb(99, 95, 95);
margin-left: 0px;
padding: none;
}

.col-3 {
  padding: 0;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.8;
  font-size: 20px;
}

.weather-forecast-temperature-min {
  opacity: 0.3;
}

.weather-forecast-temperature-max {
  font:bold;
}

.weather-forecast-temperatures {
  font-size: 15px;
}